{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div style="color:red;" class="alert alert-warning alert-dismissible fade show" role="alert">
   {{message}}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div style="color:red;" class="alert alert-warning alert-dismissible fade show" role="alert">
   {{message}}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% if messages %}
{% for message in messages %}
{% if message.tags == 'warning' %}
<div style="color:red;" class="alert alert-warning alert-dismissible fade show" role="alert">
   {{message}}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
</div>
{% endif %}
{% endfor %}
{% endif %}