{% extends "base.html" %}

{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Add Session Year</h4>
                  <p class="card-category">Add Session Year</p>
                  {% include 'includes/messages.html' %}

                </div>
                <div class="card-body">
                  <form action="{% url 'add_session' %}" method="post">
                    {% csrf_token %}


                    <div class="row">
                      <div class="col-md-6">
                        <label class="bmd-label-floating">Session Year Start</label>
                        <div class="form-group">

                          <input type="Date" class="form-control"  name="session_year_start" required>
                        </div>
                      </div>

                          <div class="col-md-6">
                        <label class="bmd-label-floating">Session Year End</label>
                        <div class="form-group">

                          <input type="Date" class="form-control"  name="session_year_end" required>
                        </div>
                      </div>



                      </div>
                    <br>


                    <button type="submit" class="btn btn-primary pull-right">Add Session</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  {% if user.profile_pic == "" %}
                    <a href="#pablo">
                    <img class="img" src="/static/assets/img/faces/noimg1.png" />
                  </a>
                  {% else %}
                  <a href="#">
                    <img class="img" src="/{{user.profile_pic}}" />
                  </a>
                  {% endif %}
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">

                  </h6>
                  <h4 class="card-title">

                  </h4>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                </div>
              </div>
            </div>
          </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
