{% extends "base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Staff Notification</h4>
                  <p class="card-category">Send Staff Notification</p>
                  {% include 'includes/messages.html' %}
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">

                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                         Session Year Start
                        </th>
                        <th>
                        Session Year End
                        </th>


                      <th>
                        Action
                      </th>
                      </thead>
                      <tbody>
                      {% for i in session %}
                        <tr>
                          <td>
                           {{i.id}}
                          </td>
                          <td>
                            {{i.session_start}}
                          </td>
                          <td>
                            {{i.session_end}}
                          </td>


                          <td>

                            <a href="{% url 'edit_session' i.id %}" class="material-icons">edit</a> <a href="{% url 'delete_session' i.id %}" class="material-icons">delete</a>


                          </td>


                        </tr>

                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
